.hero {
  width: 100%;
  height: 100vh;
  background-color: var(--hero-back);
  background-image: var(--main-grad);
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: var(--container);
  height: calc(100vh - 64px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @media (min-width: 1408px) {
    max-width: var(--desktop);
    height: calc(100vh - 114px);
  }
}

.hero_text {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  max-width: 300px;
  background-image: var(--hero-text-grad);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding-bottom: 272px;
  @media (min-width: 1408px) {
    padding-bottom: 168px;
    max-width: 1170px;
    font-weight: 800;
    line-height: 144px;
    font-size: var(--fs-xxxlarge);
  }
}

.hero_logo {
  position: absolute;
  width: 170px;
  height: auto;
  bottom: 152px;
  left: 140px;
  transform: rotate(27deg);
  @media (min-width: 1408px) {
    width: 273.15px;
    height: auto;
    bottom: 286px;
    left: 814px;
  }
}

.hero_link {
  display: inline-block;
  font-size: var(--fs-small);
  line-height: 16px;
  font-weight: 800;
  color: var(--hero-text-color);

  @media (min-width: 1408px) {
    font-size: var(--fs-large);
    line-height: 23px;
    color: var(--hero-text-color);
  }
}

.marquee_wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 8px;
  background-color: var(--foreground);
  padding: 24px 0;
  @media (min-width: 1408px) {
    gap: 20px;
    padding: 45.5px 0;
  }
}

.marquee {
  animation: scroll 20s linear infinite;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
  @media (min-width: 1408px) {
    gap: 20px;
  }
}

.text_wrap {
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  @media (min-width: 1408px) {
    gap: 20px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
