.future {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: var(--container);
  padding: 80px 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    padding: 100px 0;
    align-items: flex-end;
  }

  @media (min-width: 1408px) {
    max-width: var(--desktop);
    padding: 120px 0;
  }
}

.back {
  margin: 0 auto;
  width: var(--container);
  aspect-ratio: 1 / 1;
  max-width: 448px;
  background-image: url('../../img/future/back.webp');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 24px;

  @media (min-width: 1024px) {
    position: absolute;
    left: 0;
    top: 225px;
    width: 40%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
  }

  @media (min-width: 1408px) {
    max-width: 100%;
    left: 0;
    top: 297px;
    width: 448px;
    height: 451px;
  }
}

.header {
  font-size: var(--fs-mxlarge);
  font-weight: 700;
  line-height: 48px;
  text-align: right;
  margin-bottom: 8px;
  @media (min-width: 1408px) {
    font-size: var(--fs-xxlarge);
    line-height: 78.02px;
    margin-bottom: 0;
  }
}

.par {
  font-size: var(--fs-large);
  font-weight: 600;
  line-height: 28.8px;
  text-align: right;
  background-image: var(--main-grad);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 40px;

  @media (min-width: 1408px) {
    font-size: var(--fs-xlarge);
    line-height: 39.01px;
    margin-bottom: 60px;
  }
}

.button {
   @media (pointer: coarse) {
    box-shadow: 0px 20px 31.4px -13px #373aff66;
  }
  transition: box-shadow 0.3s ease;
  font-size: var(--fs-small);
  font-weight: 600;
  line-height: 19.5px;
  display: block;
  padding: 18px 12px;
  background-image: var(--main-grad);
  border-radius: 200px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 336px;

  @media (min-width: 1024px) {
    margin: 0;
    align-self: flex-end;
  }

  @media (min-width: 1408px) {
    display: inline-block;
    padding: 21px 48px;
    line-height: 21.94px;
  }
    &:hover,
  &:focus {
    box-shadow: 0px 20px 31.4px -13px #373aff66;
  }
}

.main_wrap {
  background-color: var(--foreground);
  padding: 24px 17px 32px;
  border-radius: 24px;
  & > p {
    font-size: var(--fs-large);
    font-weight: 600;
    line-height: 29.26px;
    margin-bottom: 24px;
  }

  @media (min-width: 1024px) {
    width: calc(100% - 430px);
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1408px) {
    width: 929px;
    height: 451px;
    padding: 38px 32px;
    border-radius: 32px;
    & > p {
      font-size: var(--fs-xlarge);
      line-height: 39.01px;
    }
  }
}

.icon_wrap {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  border-radius: 50%;

  & svg {
    width: 16px;
    height: 16px;
  }

  @media (min-width: 1408px) {
    width: 32px;
    height: 32px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

.item {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  & p {
    width: calc(100% - 32px);
    line-height: 24px;
    font-size: var(--fs-small);
  }

  @media (min-width: 1408px) {
    gap: 16px;
    margin-bottom: 16px;
    align-items: center;
    & p {
      line-height: 21.94px;
      font-size: var(--fs-medium);
    }
  }
}

.list {
  margin-bottom: 40px;

  @media (min-width: 1024px) {
    margin-bottom: 115px;
  }

  @media (min-width: 1408px) {
    margin-bottom: 72px;
  }
}
