.language {
  @media (max-width: 767px) {
    margin-right: 55px;
  }
  @media (max-width: 359px) {
    margin-right: 45px;
  }
  display: block;
}

.icon {
  position: relative;
  cursor: pointer;
}

.button {
  font-size: 16px;
  line-height: 19.5px;
  color: var(--foreground);
  padding: 5px 10px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-color: rgba(240, 237, 246, 0.3);
  border-radius: 100px;
}

.buttonActive {
  opacity: 1;
  transform: translateY(0);

  &:hover,
  &:focus {
    text-shadow: 0px 0 currentColor, 0px 0 currentColor;
  }
}
