.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(-50%);
  max-width: var(--desktop);
  background-color: var(--header-back);
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: space-around;
  }

  @media (min-width: 1440px) {
    height: 150px;
    width: 1440px;
  }
}

.logo {
  width: 90px;
  height: auto;

  @media (min-width: 768px) {
    width: 120px;
    height: auto;
  }

  @media (min-width: 1024px) {
    width: 165px;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 200px;
    height: auto;
  }
}

.text_wrap {
  @media (max-width: 1023px) {
    display: none;
  }

  & .logo_text {
    color: var(--main-text-color);
    text-transform: uppercase;
    font-size: var(--fs-large);
    font-family: var(--font-jura);
  }

  & .logo_text_large {
    font-size: var(--fs-xxlarge);
    font-family: var(--font-jura);
    font-weight: 700;
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    height: 140px;
  }
}

.nav_wrap {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;

  @media (min-width: 768px) {
    gap: 60px;
  }

  @media (min-width: 1024px) {
    flex-direction: column;
    gap: 5px;
  }
}

.logo_wrap {
  @media (min-width: 1024px) {
    display: flex;
  }
}

.nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    gap: 25px;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 10px;

  @media (max-width: 474px) {
    display: none;
  }

  @media (min-width: 600px) {
    gap: 25px;
  }

  @media (min-width: 768px) {
    flex-direction: column;
    gap: 5px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 20px;
  }

  @media (min-width: 1400px) {
    gap: 25px;
  }
}

.link {
  font-size: var(--fs-medium);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: var(--fs-large);
  }

  @media (min-width: 1440px) {
    font-size: var(--fs-xlarge);
  }

  & svg {
    width: 20px;
    height: 20px;
    transition: fill 0.3s ease;

    @media (min-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }

  &:hover svg {
    fill: var(--second-color);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.burger_wrap {
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}
