.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--desktop);
  background-color: var(--header-back);
  border-radius: 0px 0px 32px 32px;

  z-index: 1;
}

.container {
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* @media (min-width: 768px) {
  }
*/
}

.logo_text {
  font-size: var(--fs-small);
  font-weight: 700;
  line-height: 19.5px;
  color: var(--header-text-color);
}

.logo_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav_list {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.nav_link {
  color: var(--header-text-color);
  position: relative;
  text-decoration: none;
  font-size: var(--fs-small);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--header-text-color);
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover,
  &:focus {
    font-weight: 700;
  }

  &:hover::after,
  &:focus::after {
    transform: translateX(-50%) scaleX(1);
  }
}
