.media {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--desktop);
  padding-bottom: 120px;
  background-image: url('../../img/media/back.png');
  background-repeat: no-repeat;
  background-size: 448px 451px;
  background-position: top 138px left 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header {
  font-size: var(--fs-xxlarge);
  font-weight: 700;
  line-height: 78.02px;
  margin-bottom: 60px;
  text-align: right;
}

.button {
  display: inline-block;
  padding: 21px 48px;
  box-shadow: 0px 20px 31.4px -13px rgba(55, 58, 255, 0.4);
  background-image: var(--main-grad);
  border-radius: 200px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: center;
  color: #fff;
  margin-left: 592px;
}

.main_wrap {
  display: flex;
  flex-direction: column;
  width: 928px;
}

.icon_wrap {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;

  & svg {
    filter: drop-shadow(0px 4px 12px rgba(86, 113, 255, 0.5));
  }
}

.item {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
  & p {
    width: 832px;
    line-height: 27px;

    & span {
      font-weight: 700;
    }
  }
}

.bot_wrap {
  width: 832px;
}

.bot_list {
  margin-top: 16px;
  margin-bottom: 24px;
  & li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 8px;
    & p {
      line-height: 21.94px;
    }
  }
  & li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--second-color);
    border-radius: 50%;
  }
}

.bot_par {
  font-weight: 600;
  line-height: 21.94px;
  margin-bottom: 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 21.94px;
  color: var(--second-color);
  & svg {
    fill: var(--second-color);
  }
}

.list {
  margin: 0;
}
