.footer {
  width: 100%;
  background-color: var(--foreground);
}

.container {
  margin: 0 auto;
  width: var(--container);
  padding: 40px 0 80px;

  @media (min-width: 1408px) {
    max-width: var(--desktop);
    padding: 60px 0 120px;
  }
}

.header {
  font-size: var(--fs-large);
  font-weight: 600;
  line-height: 29.26px;
  text-align: right;
  margin-bottom: 40px;

  @media (min-width: 1408px) {
    font-size: var(--fs-xlarge);
    line-height: 39.01px;
    margin-bottom: 55px;
  }
}

.list {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  @media (min-width: 1408px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  display: block;
  position: relative;
  width: 100%;
  height: 235px;
  padding: 24px;
  background-color: var(--second-color);
  border-radius: 24px;
  transition: background-image 0.5s ease, box-shadow 0.5s ease;
  & p {
    color: var(--foreground);
    font-size: var(--fs-large);
    font-weight: 600;
    line-height: 29.26px;
  }
  & svg {
    position: absolute;
    bottom: 24px;
    right: 24px;
    fill: var(--foreground);
  }

  &:hover,
  &:focus {
    background-image: var(--main-grad);
    box-shadow: 0px 20px 31.4px -13px rgba(55, 58, 255, 0.4);
  }

  @media (min-width: 1408px) {
    width: auto;
    height: 303px;
    padding: 32px;
    border-radius: 32px;
    & p {
      font-size: var(--fs-xlarge);
      line-height: 39.01px;
    }
    & svg {
      bottom: 32px;
      right: 32px;
    }
  }
}

.email_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }
}

.footer_icon {
  display: flex;
  align-items: center;
  gap: 12px;

  & svg {
    width: 59px;
    height: 48px;
  }

  @media (min-width: 768px) {
    gap: 24px;
    & svg {
      width: 88px;
      height: 72px;
    }
  }
}

.logo_text {
  color: #5671ff;
  font-weight: 700;
  white-space: nowrap;
  font-size: 20px;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.icon-logo_footer {
  flex-shrink: 0;
  width: 59px;
  height: 48px;
  @media (min-width: 768px) {
    width: 88px;
    height: 72px;
  }
}

.email_wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-end;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }
}

.location_wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.email_text,
.location_text {
  color: rgba(86, 113, 255, 1);
  position: relative;
  font-size: 14px;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 20px;
    align-self: flex-end;
  }
}

.email_text {
  text-decoration: underline;
}

.email_icon_wrap {
  width: 16px;
  height: 16px;

  & svg {
    width: 16px;
    height: 16px;
  }

  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.link {
  display: inline-block;
  font-size: var(--fs-small);
  line-height: 16px;
  font-weight: 800;
  color: rgba(251, 251, 251, 0.8);

  @media (min-width: 1408px) {
    font-size: var(--fs-large);
    line-height: 23px;
  }
}

.marquee_wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 8px;
  background-color: var(--second-color);
  background-image: var(--main-grad);
  padding: 24px 0;
  @media (min-width: 1408px) {
    gap: 20px;
    padding: 45.5px 0;
  }
}

.marquee {
  animation: scroll 20s linear infinite;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
  @media (min-width: 1408px) {
    gap: 20px;
  }
}

.text_wrap {
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  @media (min-width: 1408px) {
    gap: 20px;
  }
}
